<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js</title>
</head>
<h1>Apprentissage du framework Vue.js</h1>
<div id="app">
    <!-- La valeur du champ est le contenu de la variable message-->
    <input type="text" v-model="message" />
    <input type="checkbox" v-model="success" v-on:true-value="success" />
    <!-- Affiche le contenu d'une url | Affiche le contenu d'une variable -->
    <a v-bind:href="link" v-on:mouseover="mouseOver()" id="link" v-bind:style="colorChange">{{ message }}</a>
    <!-- Si; success : true -->
    <div v-if="success">
        <p>{{ messageTrue }}</p>
    </div>
    <!-- Sinon; success : false -->
    <div v-else>
        <p>{{ messageFalse }}</p>
    </div>

    <ul>
        <!-- Boucle for : affiché un tableau -->
        <li v-for="person in persons">{{ person }}</li>
    </ul>
    <input type="text" v-model="person" />
    <button v-on:click="addPerson()">Ajouter une personne</button>

</div>
<div id="time">
    {{ seconds }}
</div>


<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>
</body>

</html>